<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>My Team</title>
	<link rel="shortcut icon" type="image/jpg" href="../assets/images/favicon.png"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/styles/style.css">

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 jumbotron mb-3 bg-dark text-white">
				<h1 class="text-center"><span class="material-icons">groups</span> The Team</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="team-area col-12 d-flex flex-wrap justify-content-between bg-secondary p-3">
					{{ team }}
			</div>
		</div>
	</div>
</body>

</html>